html, body {
  padding: 0;
  margin: 0;
  background: #121212;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* { box-sizing: border-box }



#body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  gap: 3.125rem;
  padding: 1.25rem;
}



/* COMMON COMPONENTS */



nav#navigation {
  flex: none;
  display: flex;
  width: 100%;
  max-width: 50rem;
}

nav#navigation > ul {
  display: block;
  flex: 1;
  list-style-type: none;
  padding: 0;
}

nav#navigation > ul > li {
  display: inline-block;
  margin-right: 1rem;
}

nav#navigation > ul > li > a {
  display: block;
  font: 1rem Verdana, sans-serif;
  line-height: 1;
  color: #999999;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
}

nav#navigation > ul > li > a:hover { background: #252525 }

nav#navigation > ul > li.active > a {
  font-weight: 600;
  color: #DDDDDD;
}



#container { flex: 1 }



#footer {
  display: block;
  flex: none;
  width: 100%;
  max-width: 50rem;
  padding: 0 0.75rem;
  margin: 1.5rem 0;
}

#footer > span { 
  display: block;
  font: 1rem Halvetica, sans-serif;
  font-weight: 200;
  color: #777777;
}



/* Styling for Print */



@media print {
  @page { margin: 0; }
  @page :header { display: none }
  @page :footer { display: none }

  nav#navigation { display: none !important }
}