.introContainer {
    display: flex;
    width: 100%;
    max-width: 55rem;
    margin: 0 auto;
    gap: 3.25rem;
}

.introImage {
    display: block;
    flex: none;
    width: 9.5rem;
    height: 9.5rem;
    background-color: #4158D0;
    background-image: linear-gradient(47deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    border-radius: 10rem;
    overflow: hidden;
    margin-top: 1rem
}

.introContentContainer {
    display: flex;
    flex-direction: column;
}

.introContentContainer > p {
    display: block;
    flex: 1;
    font: 3rem serif;
    line-height: 1.25;
    padding: 0 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.introContentContainer > p > span {
    color: #FF5555;
}