.resume {
    display: flex;
    flex-direction: column;
    gap: 1.25cm;
    width: 21cm;
    min-height: 29.7cm;
    background-color: #FFFFFF;
    margin: 0;
    padding: 1.5cm 1.75cm;
}



.resume > header {
    display: flex;
    flex-direction: column;
}

.resume > header > * {
    display: block;
    padding: 0;
    line-height: 1;
    margin-block: 0;
}

.resume > header > h2 {
    font: 1.2cm Georgia, serif;
    font-weight: 500;
}

.resume > header > h5 {
    font: 0.4cm Verdana, sans-serif;
    color: #777777;
}



.resume > div {
    display: flex;
    gap: 0.75cm;
}

.resume > div > main {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1cm;
}

.resume > div > aside {
    flex: none;
    display: flex;
    flex-direction: column;
    gap: 1cm;
}



/* sections in aside */

.resume > div > aside > section > h4 {
    font: 0.5cm Verdana, sans-serif;
    line-height: 1;
    margin-block: 0;
    margin-bottom: 0.4cm;
    text-transform: uppercase;
}

.resume > div > aside > section > ul {
    display: flex;
    flex-direction: column;
    gap: 0.2cm;
    list-style: none;
    padding: 0;
    margin: 0;
}

.resume > div > aside > section > ul > li {
    display: block;
    font: 0.375cm Halvetica, sans-serif;
    line-height: 1.25;
}

.resume > div > aside > section > ul > li > a {
    color: #0066ff;
}



/* sections in main */

.resume > div > main > section > h3 {
    font: 0.6cm Verdana, sans-serif;
    line-height: 1;
    margin-block: 0;
    margin-bottom: 0.5cm;
    text-transform: uppercase;
}



.profile > ul {
    display: flex;
    flex-direction: column;
    gap: 0.25cm;
    list-style: none;
    padding: 0;
    margin: 0;
}

.profile > ul > li {
    display: block;
    font: 0.375cm Halvetica, sans-serif;
    line-height: 1.35;
}

.profile > ul > li > span {
    font-weight: 600;
}



.employmentHistory > div {
    display: flex;
    flex-direction: column;
    gap: 0.5cm;
}


.employmentHistory article {
    display: flex;
    flex-direction: column;
}

.employmentHistory article > h5 {
    display: block;
    font: 0.45cm Halvetica, sans-serif;
    font-weight: 600;
    margin-block: 0;
}

.employmentHistory article > span {
    display: block;
    font: 0.35cm Halvetica, sans-serif;
    color: #777777;
    margin: 0.075cm 0 0.25cm 0;
}

.employmentHistory article > ul {
    display: flex;
    flex-direction: column;
    gap: 0.125cm;
    padding: 0 0 0 0.375cm;
    margin: 0;
}

.employmentHistory article > ul > li {
    font: 0.375cm Halvetica, sans-serif;
    line-height: 1.35;
}

.employmentHistory article > ul > li > a {
    color: #0066ff;
}



.educationHistory > div {
    display: flex;
    flex-direction: column;
    gap: 0.5cm;
}

.educationHistory article {
    display: flex;
    flex-direction: column;
}

.educationHistory article > h5 {
    display: block;
    font: 0.45cm Halvetica, sans-serif;
    font-weight: 600;
    line-height: 1.35;
    margin-block: 0;
}

.educationHistory article > span {
    display: block;
    font: 0.35cm Halvetica, sans-serif;
    color: #777777;
    margin: 0.15cm 0 0.275cm 0;
}

.educationHistory article > ul {
    display: flex;
    flex-direction: column;
    gap: 0.125cm;
    padding: 0 0 0 0.375cm;
    margin: 0;
}

.educationHistory article > ul > li {
    font: 0.375cm Halvetica, sans-serif;
    line-height: 1.35;
}



.courses > div {
    display: flex;
    flex-direction: column;
    gap: 0.5cm;
}

.courses article {
    display: flex;
    flex-direction: column;
}

.courses article > h5 {
    display: block;
    font: 0.45cm Halvetica, sans-serif;
    font-weight: 600;
    line-height: 1.35;
    margin-block: 0;
}

.courses article > span {
    display: block;
    font: 0.35cm Halvetica, sans-serif;
    color: #777777;
    margin: 0.15cm 0 0.275cm 0;
}